<div class="container">
  <header>
    <h1>{{pageTitle}}</h1>
  </header>

  <form class="form">

    <div class="row">

      <div class="col-sm-6">
        <div class="form-group">
          <label>Title</label>
          <input ng-model="new.title" class="form-control">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label>Due date</label>

          <div class="input-group">
             <input
              type="text"
              class="form-control"
              datepicker-popup="longDate"
              ng-model="new.dueDate"
              is-open="opened"
              min="minDate"
              max="'2015-06-22'"
              datepicker-options="dateOptions"
              close-text="Close">
             <span class="input-group-btn">
               <a class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></a>
             </span>
           </div>

        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <label>Bugzilla Query URL</label>
          <input ng-model="new.params" class="form-control">
        </div>
      </div>

    </div>

    <div class="form-group">
      <button class="btn btn-warning" ng-click="submit()">{{submitLabel}}</button>
      <button ng-if="pageTitle === 'Edit Sprint'" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
  </form>
</div>
