<header>
  <div class="container">
    <hgroup>
      <h1 class="feature-title">SprintRPC</h1>
    </hgroup>
  </div>
</header>

<div class="container">
  <p class="lead"><strong>SprintRPC</strong> is a Bugzilla sprint tool, forked from <a href="https://github.com/k88hudson/sprinter">@k88hudson/sprinter</a>.</p>
  <p class="lead">It uses RHBZ's JSONRPC methods to create sprints based on <code>target_release</code>.</p>
  <div class="alert alert-success">
    <strong>Message Deb &lt;deb@redhat.com&gt; for creating new sprints. You can <a href="https://github.com/debloper/SprintRPC/issues"><code>file bugs</code></a> on GitHub.</strong>
  </div>
</div>
